/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";

body {
	text-align: center;
	font-family: geneva, helvetica;
}
.first-page {
	background-color: $grey_background_color;
	height: 100vh;
	position: relative;
}
.first-page-inner-container {
	position: relative;
	top: 12%;
}
.second-page {
	@extend .first-page;
}
.img-box {
	postion: relative;
}
#myProgress {
  width: 300px;
  margin: auto;
  background-color: #ddd;
  display: none;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: $yellow_button_color;
}
.box-container-outer {
	width: 300px;
	margin: auto;
	position: relative;
	top: -35px;;
	border: solid 1px lightgray;
	border-radius: 5px;
}
.box-container {
	border: solid 1px white;
	border-radius: 3px;
	background: white;
}
.bt {
	position: relative;
	margin: 65px auto 20px;
	font-size: 24px;
	font-weight: bold;
	color: #484848;
}
.box-container input {
	width: 75%;
	height: 55px;
	padding: 10px;
	margin: 5px auto;
	font-size: 16px;
	border: solid 1px #eeeeee;
	outline: none;
}
.box-container button {
	@include button_style("75%", "55px", $orange_button_color, $white);
	display: block;
    margin: 15px auto 40px;
    font-size: 16px;
}
.error-class {
	border: solid 1px #E70202 !important;
	color: #E70202 !important;
}
.success-class {
	border: solid 1px #00DA39 !important;
	color: #00DA39 !important;
}
.error-text {
	color: #E70202 !important;
}
.error-hidden {
	width: 75%;
	color: #E70202;
	display: none;
	margin: 10px auto;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}
.container {
	width: 80%;
	max-width: 1280px;
	margin: auto;
	position: relative;
}
.container .header {
	text-align: left;
	padding-top: 5%;
	position: relative;
}
.header-border {
	width: 10%;
	border: solid 3px $yellow_button_color;
}
.ht {
	@extend .bt;
	margin: 10px auto;
	letter-spacing: 0.1px;
	font-size: 22px;
}
#character-a {
	display: block;
	position: relative;
}
.characters {
	margin-top: 50px;
	text-align: left;
}
.ct {
	@extend .ht;
	color: #B8B8B8;
	letter-spacing: 1px;
}
.character-box-inner {
	display: inline-block;
    width: 14%;
    padding: 10px;
    text-align: center;
}
.character-box-inner img:hover {
  animation-name: wobble;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes wobble {
  16.65% {
		transform: translateY(8px);
	}

	33.3% {
		transform: translateY(-6px);
	}

	49.95% {
		transform: translateY(4px);
	}

	66.6% {
		transform: translateY(-2px);
	}

	83.25% {
		transform: translateY(1px);
	}

	100% {
		transform: translateY(0);
	}
}
.wobble {
  animation-name: wobble;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.rotate {
  animation-name: rotate;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes rotate {
  0% {
		transform: rotate(10deg);
	}

	20% {
		transform: rotate(-20deg);
	}

	40% {
		transform: rotate(10deg);
	}

	60% {
		transform: rotate(-20deg);
	}

	80% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}
.shake {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes shake {
	16.65% {
		transform: translateX(8px);
	}

	33.3% {
		transform: translateX(-6px);
	}

	49.95% {
		transform: translateX(4px);
	}

	66.6% {
		transform: translateX(-2px);
	}

	83.25% {
		transform: translateX(1px);
	}

	100% {
		transform: translateX(0);
	}
}

.characters button{
@include button_style("200px", "55px", $yellow_button_color, "#605B3E");
    margin: 50px auto;
    font-size: 12px;
    font-weight: bold;
}
.back-button {
	color: #484848;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 30px;
	cursor: pointer;
}
.character-info-wrapper {
	margin: 10% auto 0;
	display: table;
	position: relative;
	top: 50;
	z-index:0;
}
.character-info-box {
	border: solid 1px #d6d6d6;
    height: 320px;
    max-width: 520px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: table;
}
.character-info-card {
	width: 69%;
    text-align: left;
    float: right;
    font-weight: bold;
}
.character-img {
	width: 60%;
	position: absolute;
	z-index:999;
	left:-25%;
	top: -10%;
}
#img-c {
	width: 50%;
	top:-5%;
}
.character-img img {
	width: 100%;
}
.character-info-card h2{
	font-size: 56px;
	margin-bottom: 12px;
}
.character-info-card p {
	width: 80%;
	font-size: 13px;
}

.invisible {
	display: none;
}

/* media query for square-desktop */
@include respond_to(square-desktop) {
	.character-box-inner {
		width: 29%;
	}
}

/* media query for tablet-portrait */
@include respond_to(tablet-portrait) {
	.character-box-inner {
		width: 29%;
	}	
}



/* media query for smartphone portrait */
@include respond_to(smartphone-portrait) {
	.second-page {
		height: auto;
	}
	.character-box-inner {
		width: 40%;
	}
	.character-display {
		height: 100vh;
	}
	.character-info-card {
		width: 90%;
	}
	.character-img {
		width: 70%;
		top: -40%;
		left: 12%;
	}
	#img-c {
		width: 65%;
		top: -40%;
		left: 16%;
	}
	#img-f {
		width: 64%;
		top: -33%;
		left: 15%;
	}
	
}

/* media query for smartphone landscape mode*/
@include respond_to(smartphone-landscape) {
	.first-page {
		height: auto;
	}
	.second-page {
		height: 100vh;
	}
	.character-box-inner {
		width: 45%;
	}
	.character-img {
		left: -15%;
		width: 50%;
	}

	.character-img {
		width: 55%;
		left: -20%;
	}
	#img-c {
		width: 40%;
    	top: 5%;
    	left: -10%;
	}
	#img-d {
	}
	#img-e {
		top: 0%;
	}
	#img-f {
		top: 0%;
	}
}